<!doctype html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"layout:decorate="~{layout/default}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/dc522288eb.js" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/dc522288eb.js" crossorigin="anonymous"></script>
	<title>Ticket</title>
</head>

<body>
     <div class="container m-5 ">
        <h1>Liste des Tickets</h1>
        <div class="card-body">
    <div class=" m-2  "sec:authorize ="isAuthenticated()">
		 <span sec:authentication="name"></span><span sec:authentication="authorities"></span>
	<form th:action="@{/logout}" method="post">
	<button type="submit" class="btn btn-info " ><i class="fa fa-sign-out" aria-hidden="true"></i></button>
	</form>
</div>
     
	<section layout:fragment="contenu">
	<table class="table  table-bordered">
		<thead class="table-dark">
				<th scope="col">Id</th>
				<th scope="col">Description</th>
				<th scope="col">Urgence</th>
				<th scope="col">Environnement</th>
				<th scope="col">Logiciel</th>
				<th scope="col">Statut</th>
				<th scope="col">Client</th>
				<th scope="col">Action</th>

			</tr>
		</thead>
		<tbody>

			<tr th:each="b:${bugs}">
				<th scope="row" th:text="${b.id}"></th>
				<td th:text="${b.description}"></td>
				<td th:text="${b.urgence}"></td>
				<td th:text="${b.envE}"></td>
				<td th:text="${b.logiciel}"></td>
				<td th:text="${b.statut}"></td>
				<td th:text="${b.client.login}"></td>
			    <td> <a th:href="@{/mvc/devs/edit/{id}(id=${b.id})}" class="btn btn-dark" /><i class="fas fa-edit"></i>
				</td>
			</tr>
		</tbody>
	</table>

</body>

</html>
</body>

</html>